/*____________Banner Css____________*/
.banner-img{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.884) 0%, rgba(255, 255, 255, 0.897) 59%, rgba(255, 255, 255, 0.911) 100%), url(../images/chair.png);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}













